.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    width: 500px;
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(.7) sepia(.4);
}

.ex-8-img {
    width: 500px;
    transition: filter 1s, border-radius 1s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: saturate(.4) sepia(.4);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: transform 2s, filter 2s, border-radius 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: saturate(.4) sepia(.4);
    transform: scale(1.5);
}

.ex-10-icon {
    font-size: 60px;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: incomplete-rotation 1s linear;

}

@keyframes incomplete-rotation {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(270deg);
    }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Ex 12 solution */

.ex-12-button:hover .ex-12-top-white {
    animation: top-white-slide 2s linear;
}

@keyframes top-white-slide {
    0% {
        left: 10%
    }
    50% {
        left: 69%
    }
    100% {
        left: 10%
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-white-slide 2s linear;
}

@keyframes bottom-white-slide {
    0% {
        right: 20%
    }
    50% {
        right: 69%
    }
    100% {
        right: 20%
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: top-white-full-slide 2s linear;
}

@keyframes top-white-full-slide {
    0% {
        top: -12px;
        left: 10%;
    }
    25% {
        top: -12px;
        left: 75%;
    }
    50% {
        top: 60px;
        left: 75%;
    }
    75% {
        top: 60px;
        left: -10%;
    }
    90% {
        top: -12px;
        left: -10%;
    }
    100% {
        top: -12px;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-white-full-slide 2s linear;
}

@keyframes bottom-white-full-slide {
    0% {
        bottom: -12px;
        right: 20%;
    }
    25% {
        bottom: -12px;
        right: 75%;
    }
    50% {
        bottom: 50px;
        right: 75%;
    }
    75% {
        bottom: 50px;
        right: -10%;
    }
    90% {
        bottom: -12px;
        right: -10%;
    }
    100% {
        bottom: -12px;
        right: 10%;
    }
}